.appbar__container {
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px #2f2f2f2d;
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.appbar__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .appbar__container {
    padding: 0.7rem 0.3rem;
  }

  .appbar__container h1 {
    font-size: 1.4rem;
  }

  .appbar__buttons {
    gap: 0.5rem;
  }
}
