.appbar__container {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.appbar__container div {
  display: flex;
}

@media screen and (max-width: 700px) {
  .appbar__container {
    padding: 0.7rem 0.3rem;
  }

  .appbar__container h1 {
    font-size: 1.4rem;
  }
}
