@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #eceff1;
}

a {
  text-decoration: none;
  color: #fff;
}
