.login__container {
  display: flex;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
  gap: 2rem;
  border-radius: 5px;
}

.login__container button {
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  .login__container {
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
  }
}
