.addmemory__container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #2f2f2fb4;
  position: absolute;
  inset: 0 0 0 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.addmemory__container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 30%;
}

.addmemory__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 95%;
}

.addmemory__container input {
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 0.5rem 0.7rem;
}

.addmemory__container .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 95%;
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .addmemory__container form {
    gap: 1rem;
    padding: 1rem;
    width: 90%;
  }

  .addmemory__input {
    gap: 0.5rem;
    width: 95%;
  }

  .addmemory__container input {
    font-size: 1rem;
  }

  .addmemory__container .buttons {
    gap: 1rem;
  }
}
